@import "../node_modules/normalize.css/normalize.css";

@import "../node_modules/cssrecipes-defaults/index.css";

@import "../node_modules/cssrecipes-vertical-rhythm/index.css";
@import "../node_modules/cssrecipes-vertical-rhythm/lib/ratio/minor-third.css";

@import "../node_modules/cssrecipes-custom-media-queries/index.css";
@import "../node_modules/cssrecipes-grid/index.css";
@import "../node_modules/cssrecipes-utils/lib/all.css";
@import "../node_modules/cssrecipes-utils/lib/min.css";

:root {
  --cssnext-Color-blue: #318edf;
  --cssnext-Color-purple: #8053ca;
}

/**
 * generic typography
 */

html {
  height: 100%;
  margin: 0;
  padding: 0;

  background: #f1f1f1
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: Avenir Next, Calibri, Calibri Light, Segoe UI, Segoe UI Light, Myanmar Text, sans-serif;
}

a,
a:visited {
  color: currentColor !important;
  position: relative;
  text-decoration: none;
}

  a::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;

    background: currentColor;
    opacity: .25;

    transform: scaleX(.85) translateY(.3rem);
    transition: .2s;
  }
  a:hover::before {
    opacity: 0.75;
    transform: scaleX(.95) translateY(.1rem);
  }
  a:active::before {
    opacity: .2;
  }

h1,
h2,
h3 {
  font-weight: 300;
}

/**
 * customise recipes
 */

.r-Grid {
  width: auto;
  margin: 0 auto;
  padding: 0 1rem;
}
  @media (--r-minM) { .r-Grid {
    width: 40rem;
    padding: 0;
  }}
  @media (--r-minL) { .r-Grid { width: 55rem } }
  /*@media (--r-minXL) { .r-Grid { width: 70rem } }*/


/**
 * cssnext stuff
 */
.cssnext-Header {
  overflow: auto;
  /*text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}

  .cssnext-Logo {
    line-height: calc(var(--r-lineHeight) * 3);
  }
    .cssnext-Logo-img {
      height: calc(var(--r-lineHeight) * 1.5);
      width: auto;
      fill: currentColor;
      vertical-align: middle;
    }

.cssnext-Jumbotron {
  overflow: auto;
  padding: 6rem 0;
}

  .cssnext-Jumbotron + :not(.cssnext-Jumbotron) { margin: var(--r-lineHeight) auto }

  .cssnext-Jumbotron--center { text-align: center }

  .cssnext-Jumbotron--time { background: linear-gradient(160deg, color(var(--cssnext-Color-blue) a(.9)), color(var(--cssnext-Color-purple) a(.9))), url("assets/time.jpg") no-repeat 50% 50%/cover }
  .cssnext-Jumbotron--future { background: linear-gradient(160deg, color(var(--cssnext-Color-purple) a(.8)), color(var(--cssnext-Color-blue) a(.7))), url("assets/future.jpg") no-repeat 50% 50%/cover }
  .cssnext-Jumbotron--fast { background: linear-gradient(160deg, color(var(--cssnext-Color-blue) l(90%) a(.9)), color(var(--cssnext-Color-purple) l(90%) a(.9))), url("assets/fast.jpg") no-repeat 50% 50%/cover }
  .cssnext-Jumbotron--flux { background: linear-gradient(160deg, color(var(--cssnext-Color-blue) a(.7)), color(var(--cssnext-Color-purple) a(.9))), url("assets/flux.jpg") no-repeat 50% 50%/cover }
  .cssnext-Jumbotron--run { background: linear-gradient(160deg, color(var(--cssnext-Color-purple) l(90%) a(.8)), color(var(--cssnext-Color-blue) l(90%) a(.8))), url("assets/run.jpg") no-repeat 50% 50%/cover }
  .cssnext-Jumbotron--doit { background: linear-gradient(160deg, color(var(--cssnext-Color-blue) a(.7)), color(var(--cssnext-Color-purple) a(.6))), url("assets/doit.jpg") no-repeat 50% 50%/cover }

  .cssnext-Jumbotron-title {
    display: block;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    margin: 6rem auto;
    text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.4);
  }

.cssnext-Section { margin: 0 0 var(--r-lineHeight) }

  .cssnext-Section-title { text-align: center }

  .cssnext-Section-content { text-align: justify }

  .cssnext-Section-highlight {
    display: block;
    text-align: center;
    margin: var(--r-lineHeight);
  }

  .cssnext-Section-link {
    text-align: center;
    font-size: var(--r-small-fontSize);
    color: var(--cssnext-Color-blue);
  }

    .cssnext-Section-link:hover { color: var(--cssnext-Color-purple) }

.cssnext-Footer {
  font-size: var(--r-small-fontSize);
  text-align: center;
  padding: calc(var(--r-lineHeight) * 3) 0 var(--r-lineHeight);
}

.cssnext-INeedSpace {
  margin-top: calc(var(--r-lineHeight) * 2);
  margin-bottom: calc(var(--r-lineHeight) * 2);
}

.cssnext-Light {
  color: #fff;
  font-weight: 300;
}

  .cssnext-Light a { color: #fff !important }
  .cssnext-Light a::before { background: #f1f1f1 }
